.twittlerStream>div:not(.showNewTweets):nth-child(2n+1) {
	background-color: #F5FFFF;
	opacity: .90;
}
.twittlerStream>div:not(.showNewTweets):nth-child(2n) {
	background-color: #E0F0FF;
	opacity: .90;
}
body {
	background: url('http://4.bp.blogspot.com/_ZAN_S2kl6TY/SwOGLCduiKI/AAAAAAAAALA/fdtpApkfVLY/s1600/The%2BBird.png') top fixed ;
}
a {
	cursor: pointer;
}
button {
	border-radius: 16px;
	margin: 0px 0 20px 0;
	background-color: #E0F0FF;
	text-align: center;
}
.showAllTweets {
	margin: 10px 0 0 0;
}
.twittlerStream>div:not(.showNewTweets) {
	padding:10px;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-radius: 15px;
	margin-bottom: 2px;
}
.jumbotron {
	border-radius: 40px;
	background-color:#F5FFFF;
	opacity: .5;
	padding: 0 20px 0 20px;
}
.userNames {
	background-color: rgba(224, 255, 255, 0.5);
	border-radius: 16px;
}
h1 {
	font-family: impact;
}

